*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

html,body{
    background-color: hsl(234, 29%, 20%);
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    background-color: white;
    width: 800px;
    height: 500px;
    margin: auto;
    border-radius: 30px;
}

.heading-div{
    margin-top: -10px;
    padding-bottom: 10px;
}

.main-heading{
    margin-left: 60px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 2.7rem;
}

.para{
    margin-left: 60px;
    margin-top: 15px;
    font-size: 0.9rem;
}

.update{
    margin-top: 4px;
}

.list-items{
    margin-left: 59px;
    margin-top: 10px;
}


.list-items ul li{
    padding-top: 20px;
    font-size: 0.8rem;
    list-style: none;
    padding-top: 13px;
}


.svg{
    padding-right: 10px;
}


.form-div{
    margin-left: 65px;
    margin-top: 45px;
    font-size: 0.7rem;
    display: flex;
}


.form-label{
    font-weight: bold;
}

input{
    margin-top: 5px;
    width: 300px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}

.button-div{
    margin-top: 25px;
}

.btn{
    width: 300px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    background-color: hsl(234, 29%, 20%);
    cursor: pointer;
    font-weight: bold;
}

.image-content{
    margin: auto;
}

.main-image{
    height: 460px;

    
}

/* mobile responsive section */
@media all and (max-width:1200px){

    html,body{
        overflow-x: hidden;
    }

    body{
        position: relative;
    }

    .main-card{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 880px;
        border-radius: 0px;
    }
    
    .image-content{
        position: absolute;
        top:0;
        left: 0;
        align-items: center;
        margin-top: -180px;
        width: 450px;
    }

    .image-content .main-image{
        width: 450px;
    }

    .text-content{
        margin-top: 350px;
        margin-right: 60px;
    }

    input{
        width: 270px;
    }

    .btn{
        width: 275px;
    }

}

